body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  background: #ccc;
}

.logo {
  width: 4em;
  height: 4em;
  /* margin-left: -5.8em; */
  /* margin-top: .5em; */
}

.social {
  width: 20%;
  height: 20%;
  margin-left: 10%;
}

.contact {
  margin-top: 5em;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 4em;
  height: 4em;
  border-bottom: 1px solid #888;
  text-align: center;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: #444;
  padding: 0;
  margin: 0;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 4em;
    line-height: 4em;
    font-size: 1.2em;
  }
}

.proj {
  color: black;
}

h1 {
  margin-left: 1em;
}

h4 {
  margin-left: 2em;
  margin-right: 2em;
}

p {
  margin-left: 2em;
  margin-right: 2em;
}
